body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  justify-content: center;
}
table {
  justify-content: center;
  margin: auto;
}

#airline-table {
  justify-self: center;
  margin: auto;
  justify-content: center;
}



#map {
  display: flex;
  margin: auto;
  justify-content: center;
}